*{
   
    padding: 0px;
    font-family: helvetica;
    background-color:#6b6b6b;
    color: white;
    
}

body{
    overflow:hidden;
    width:100%;
    height:100vh;
    
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    padding: 15px;
    margin: 0px;
    

}
.Formulario{
    border: 1px solid red;
    width: 70%;
    margin-inline: auto ;
    border-radius: 20px;
    margin-top: 20px;
    opacity: 0.88;
    margin-bottom: 3em ;
    text-align: center;
    
    
}
.Formulario, header, section, p, #caja_boton, header h1, form, span {
    background-color:seagreen
    
}
header{
    width: max-content;
    margin-inline: auto;
}
#caja_boton{
    
    text-align: center;
    
    
}



form input{
    margin: 10px 20px;
    padding-block: 1px;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
   
}


::placeholder{
    color: black;
    opacity: 0.8;
}
