*{
   
    box-sizing: border-box;
}

body{
    background-image: url(https://carreras.uleam.edu.ec/facci/wp-content/uploads/sites/26/2020/01/Template-05-321x300.png);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
}

.formulario{
    width: 860px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgb(0, 0, 0);
    position: relative;
}

.formulario_titulo{
    text-align: center;
    margin-top: 0;
    color: black;
}

.formulario__input,
.formulario_label,
.formulario_submit,
.formulario_reset{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    font-size: 1.3em;
}

.formulario__input{
    padding: 20px;
    background: transparent;
    border: 1px solid rgba(0,0,0,1);
    margin-bottom: 40px;
}

.formulario__input:focus{
    outline: 1px solid rgba(0,0,0,0.7);;
}

.formulario__input:focus+
.formulario_label{
    margin-top: -135px;
}

.formulario_label{
    text-align: left;
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.formulario_submit{
    background: #3498DB ;
    color: white;
    padding: 20px 20px;
    cursor: pointer; 
    border: none;
}

.formulario_reset{
    background: #E74C3C ;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    color: #1C2833 ;
    margin-top: -135px;
}
