*{
    box-sizing: border-box;
}

body{
    background-image: url(https://d2yoo3qu6vrk5d.cloudfront.net/images/20170213103403/estudiante-getty-482x320.jpg?itok=1487704492);
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
}

.formulario{
    width: 860px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,1);
    position: relative;
}

.formulario_titulo{
    text-align: center;
    margin-top: 0;
    color: rgb(176, 222, 228);
}

.formulario__input,
.formulario_label,
.formulario_submit,
.formulario_reset{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    font-size: 1.3em;
}

.formulario__input{
    padding: 20px;
    background: transparent;
    border: 1px solid rgba(0,0,0,1);
    margin-bottom: 40px;
}

.formulario__input:focus{
    outline: 1px solid rgba(0,0,0,0.7);;
}

.formulario__input:focus+
.formulario_label{
    margin-top: -135px;
}

.formulario_label{
    text-align: left;
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(248, 10, 10, 0.5);
    transition: all 0.2s;
}

.formulario_submit{
    background: rgba(4, 253, 24, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.formulario_reset{
    background: rgba(30, 7, 241, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    color: rgb(128, 173, 171);
    margin-top: -135px;
}
